version: '2'

services:
  blazegraph:
    image: lyrasis/blazegraph:2.1.4
    ports:
      - 8889:8080

    volumes:
      # Should match what is in run-example.sh
      - /tmp/gridappsd/blazegraph/data:/data
      - /tmp/gridappsd/log:/tmp/gridappsd/log
      - ./conf:/gridappsd/conf
      - ./conf/rwstore.properties:/RWStore.properties
      #- ./blazegraphprops/rwstore.properties:/RWStore.properties

  # mysql:
  #   image: mysql/mysql-server:5.7
  #
  #   ports:
  #     - 3306:3306
  #
  #   environment:
  #     MYSQL_RANDOM_ROOT_PASSWORD: "yes"
  #     MYSQL_PORT: 3306
  #
  #   volumes:
  #     - ./gridappsdmysql:/var/lib/mysql
  #     - ./mysqldump/gridappsd_mysql_dump.sql:/docker-entrypoint-initdb.d/schema.sql:ro

      #docker run --name my-container-name
      # -e MYSQL_ROOT_PASSWORD=/tmp/password.txt
      # -v mypasswordfile:/tmp/password.txt
      # -e MYSQL_ONETIME_PASSWORD=yes -d mysql/mysql-server:tag

  # viz:
  #   image: gridappsd/viz
  #   ports:
  #     - 8080:8080
  #
  #   depends_on:
  #     - gridappsd


  gridappsd:
    image: gridappsd/gridappsd
    ports:
      - 61614:61614

    depends_on:
      #- mysql
      - blazegraph

    # Add volume for configuration
    # Add volume for log output

    # build: ./containers/data/.
    # volumes:
    #   - ./log:/var/log/fncs
    #   - ./etc:/etc/fncs

  # fncs:
  #   image: "gridappsd/fncs"
  #   volumes_from:
  #     - data
  #   ports:
  #     - 5570:5570
  #   command: ["2"]
